// IMPORTS
@import 'normalize';
@import 'bourbon/bourbon';
@import 'settings';
@import 'neat/neat';
@import 'blend-modes';
@import 'font-awesome';

// FONTS & COLORS
$serif: 'garamond-premier-pro', serif;
$sans: $helvetica;
$light-blue: #48C6ED;
$dark-blue: #5A8A9C;
$light-brown: #CEB480;
$dark-brown: #A67F40;
$yellow: #EDD381;

/* =========================================================================== *
 *  Top-level elements  *
 * ==================== */

body {
  font-family: $sans;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif;
}

a {
  color: $light-blue;
  &:hover {
    color: blend-overlay($light-blue, $light-blue);
  }
  i[class^='icon'] {
    text-decoration: none;
  }
}

hr {
  @extend .clearboth;
  @extend .clearfix;
  margin: em(16) 0;
  border: none;
  border-top: 1px solid #ccc;
}


/* =========================================================================== *
*  Structural elements  *
* ===================== */

.wrapper {
  @include outer-container;
  overflow: hidden;
  &.skinny {
    max-width: em(960);
  }
}

%parentContainers { @include pad(em(6) em(12)); }

header.masthead {
  @extend %parentContainers;
  @include background-image( linear-gradient(#333, black) );
  color: white;
  border-top: 1px solid black;
}
#logo {
  @include span-columns(4);
}
#primary-nav { // primary navigation
  @extend .text-small;
  @include span-columns(8);
  margin-top: em(21);
  > .menu {
    @extend .floatright;
    > li {
      @extend .floatleft;
      margin: 0 0 0 em(25);
    }
  }
  a {
    text-decoration: none;
  }
}

article.main {
  position: relative;           // for positioning the sidebar
  background-color: white;
  > section {
    @extend %parentContainers;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    &.announcements {
      min-width: em(960);
      padding-right: em(312);  // width of .sidebar + %parentContainers padding
    }
    &.content {
      min-width: em(960);
      padding-left: em(312);  // width of .sidebar + %parentContainers padding
      &.homepage {
        padding-left: em(12); // no .sidebar on the homepage, so no large padding
      }
    }
    &.sidebar {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: em(300);
      @include omega;
      color: $light-brown;
      background-color: blend-multiply($dark-blue, $dark-blue);

      hr {
        border-top-color: shade(blend-multiply($dark-blue, $dark-blue), 20%);
        border-bottom: 1px solid tint(blend-multiply($dark-blue, $dark-blue), 20%);
      }
    }
  }
}

nav.sidebar-nav {

  .menu {

    > .menu-item {
      @include clearfix;
      position: relative; // for the .button to display correctly
      margin: 0 0 em(4) 0;
      @include pad(em(6) em(8));
      &.active {
        @extend %roundedCorners;
        text-shadow: 0 1px 1px shade(blend-multiply($dark-blue, $dark-blue), 20%);
        background-color: tint(blend-multiply($dark-blue, $dark-blue), 10%);
      }
      > a {
        display: block;
        text-decoration: none;
        &:visited {
          color: tint(blend-multiply($light-brown, $light-blue), 35%);
          &:hover {
            @extend a;
          }
        }
      }
      .button {
        position: absolute;
        top: 8px;
        right: 0;
        display: none;
      }
      &:hover {
        .button {
          display: block;
        }
      }
    }
  }
}

footer.bottom {
  @extend %parentContainers;
  @include clearfix;
  @include background-image( linear-gradient(#333, black) );
  color: white;
  border-top: 1px solid black;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
#bottom-nav { // footer navigation
  @extend .floatleft;
  @extend .text-small;
  > .menu {

    > li {
      @extend .floatleft;
      margin: 0 0 0 em(25);
    }
  }
}


/* =========================================================================== *
 *  Class-level elements  *
 * ====================== */

%roundedCorners {
  border-radius: 5px;
}

.floatleft  { float: left; }
.floatright { float: right; }

.alignleft {
  @extend .floatleft;
  margin: 0 20px 20px 0;
}
.alignright {
  @extend .floatright;
  margin: 0 0 20px 20px;
}
.alignnone {
  margin: 0 0 20px;
}

.clearboth  { clear: both; }
.clearfix   { @include clearfix; }

.text-tiny  { font-size: em(9); }
.text-small { font-size: em(12); }
.text-large { font-size: em(20); }

.hide { display: none; }

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.button,
a.button {
  @include inline-block;
  @include pad(em(4) em(6));
  line-height: 1;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid shade(blend-multiply($dark-blue, $dark-blue), 35%);
  border-bottom-color: shade(blend-multiply($dark-blue, $dark-blue), 50%);
  @include background-image(linear-gradient(tint(blend-multiply($dark-blue, $dark-blue), 10%), shade(blend-multiply($dark-blue, $dark-blue), 25%)));

  &.tiny {
    @extend .text-tiny;
  }
  &.small {
    @extend .text-small;
  }
  &.large {
    @extend .text-large;
  }
  &:hover {
    @include background-image(linear-gradient(tint(blend-multiply($dark-blue, $dark-blue), 20%), shade(blend-multiply($dark-blue, $dark-blue), 5%)));
  }
}
// MemberPress product links should look like buttons
.mepr_product_link {
  @extend .button;
}
// Previous/Next links under the videos should look like buttons
.previous-video-button,
.next-video-button {
  > a {
    @extend .button;
    @extend .text-small;
  }
}

nav.video-nav {}

ul.video-actions {
  text-align: center;
  > li {
    @include inline-block;
  }
}
ul.video-data {

  > li {
    @extend .floatleft;
  }
}

.announcement-widget {
  @extend %roundedCorners;
  @extend %parentContainers;
  @extend .text-small;
  position: relative; // to display the .close properly
  margin-top: em(6);
  color: shade(blend-multiply($yellow, $yellow), 25%);
  border: 2px dashed tint(blend-multiply($yellow, $yellow), 25%);
  background-color: tint($yellow, 50%);
  p {
    margin: .5em 0;
  }
  .close {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 5px 4px 4px;
    color: blend-multiply($yellow, $yellow);
    font-size: em(24);
    font-weight: bold;
    line-height: 0;
    text-decoration: none;
    &:hover,
    &:focus {
      color: shade(blend-multiply($yellow, $yellow), 25%);
    }
  }
}
.announcement-title {
  margin: 0;
  font-size: em(24);
}

.content-title {
  margin: 0;
  line-height: 1;
}
.page-title {
  @extend .content-title;
  margin: em(8) 0 0;
  text-align: center;
}


/* =========================================================================== *
 *  "ID"-level elements  *
 * ===================== */

// Fix the extra <p> that WordPress inserts with the video player
p + [id^='jwplayer'] {
  margin-top: -1em
}

#logo {
  margin: 0;
  line-height: 1;
  text-indent: -9999px;
  > a {
    display: block;
    height: 48px;
    width: 177px;
    background-image: url('/wp-content/themes/artofemail-theme/img/artofemail-logo.png');
    background-position: top left;
    background-repeat: no-repeat;
  }
}

#copyright {
  @extend .text-small;
  margin: 0;
}

#brianfryer {
  @extend #copyright;
}